/* 제목 텍스트 */
.main_text {
    margin-top: 50px;
    margin-left: 21%;
    margin-right: 21%;
    font-size: 20px;
    font-weight: bolder;
}

.top_rate_container {
    height: 300px;
}

.latest_game_container {
    height: 150px;
}

.genre_search_container {
    height: 250px;
}