<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>SQL</comment>

	<entry key="selectListCount">
		SELECT COUNT(*) COUNT
		FROM GEN_BOARD
		WHERE GEN_SHOW = 'Y'
	</entry>
	
	<entry key="selectList">
		SELECT *
		FROM (SELECT ROWNUM RNUM, A.*
			  FROM (SELECT GEN_NO
			  			 , GEN_CATEGORY
			  			 , B.GAME_NO
			  			 , M.MEM_NICKNAME
			  			 , GEN_TITLE
			  			 , GEN_REGISTER_DATE
			  			 , GEN_VIEWS
			  		 FROM GEN_BOARD B
			  		 LEFT OUTER JOIN GAME G ON (B.GAME_NO = G.GAME_NO)
			  		 JOIN MEMBER M ON (B.MEM_NO = M.MEM_NO) 
			  		 WHERE GEN_SHOW = 'Y'
			  		 ORDER BY GEN_NO DESC) A)
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectGameList">
		SELECT *
		FROM GAME
	</entry>
	
	<entry key="insertBoard">
		INSERT INTO GEN_BOARD (GEN_NO
						 , GEN_CATEGORY
						 , MEM_NO
						 , GEN_TITLE
						 , GEN_CONTENT
						 , GEN_REGISTER_DATE)
				VALUES 	  (SEQ_GEN_NO.NEXTVAL
						 , ?
						 , ?
						 , ?
						 , ?
						 , SYSDATE)
	</entry>
	
	<entry key="insertAttachment">
		INSERT INTO ATTACHMENT (ATTACHMENT_NO
							  , GEN_NO
							  , ATTACHMENT_NAME
							  , ATTACHMENT_RENAME
							  , ATTACHMENT_PATH)
					 VALUES    (SEQ_ATTACHMENT_NO.NEXTVAL
							  , SEQ_GEN_NO.CURRVAL
							  , ?
							  , ?
							  , ?)
	</entry>
	
	<entry key="increaseCount">
		UPDATE GEN_BOARD
			SET GEN_VIEWS = GEN_VIEWS + 1
		WHERE GEN_NO = ?
			AND GEN_SHOW = 'Y'
	</entry>
	
	<entry key="selectBoard">
		SELECT GEN_NO
		     , GEN_CATEGORY
		     , GAME_NAME
		     , M.MEM_NICKNAME
		     , GEN_TITLE
		     , GEN_CONTENT
		     , GEN_REGISTER_DATE
		     , GEN_VIEWS
		FROM GEN_BOARD B
		LEFT JOIN MEMBER M ON (B.MEM_NO = M.MEM_NO)
		LEFT JOIN GAME USING (GAME_NO)
		WHERE GEN_NO = ?
		    AND GEN_SHOW = 'Y'
	</entry>
	
	<entry key="selectAttachment">
		SELECT ATTACHMENT_NO
			 , ATTACHMENT_NAME
			 , ATTACHMENT_RENAME
			 , ATTACHMENT_PATH
		FROM ATTACHMENT
		WHERE GEN_NO = ?
			AND ATTACHMENT_STATUS = 'N'
	</entry>
	
	<entry key="updateBoard">
		UPDATE GEN_BOARD
		   SET GEN_CATEGORY = ?
			 , GEN_TITLE = ?
			 , GEN_CONTENT = ?
             , GAME_NO = ?
		WHERE GEN_NO = ?
			AND GEN_SHOW = 'Y'
	</entry>
	
	<entry key="updateAttachment">
		UPDATE ATTACHMENT
		   SET ATTACHMENT_NAME = ?
			 , ATTACHMENT_RENAME = ?
			 , ATTACHMENT_UPLOAD_DATE = SYSDATE
		WHERE ATTACHMENT_NO = ?
	</entry>
	
	<entry key="insertNewAttachment">
		INSERT INTO ATTACHMENT(ATTACHMENT_NO
							 , GEN_NO
							 , ATTACHMENT_NAME
							 , ATTACHMENT_RENAME
							 , ATTACHMENT_PATH)
					   VALUES (SEQ_ATTACHMENT_NO.NEXTVAL
					  		 , ?
					  		 , ?
					  		 , ?
					  		 , ?)
	</entry>
	
	<entry key="deleteBoard">
		UPDATE GEN_BOARD
			SET GEN_SHOW = 'N'
		WHERE GEN_NO = ?
	</entry>
	
	<entry key="slectGenCommentList">
		SELECT GEN_COMMENT_NO
		     , GEN_COMMENT_CONTENT
		     , M.MEM_EMAIL
		     , TO_CHAR(GEN_COMMENT_REGISTER_DATE, 'YY/MM/DD HH:MI:SS')
		FROM GEN_COMMENT C
		JOIN MEMBER M ON (C.MEM_NO = M.MEM_NO)
		WHERE GEN_NO = ?
		    AND GEN_COMMENT_SHOW = 'Y'
		ORDER BY GEN_COMMENT_NO DESC;
	</entry>


</properties>
